<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}&hearts;MyWedding{% endblock %}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {#<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">#}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <link href='https://fonts.googleapis.com/css?family=Amatica SC' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
    <div class="container full-width">

        <div class="navbar">
            <a href="/admin">Strona pary młodej</a>
            <a href="/">Strona dla gości</a>
            <a href="/admin/info">Informacje ślubne</a>
            <a type="text" style="float: right">&hearts;MyWedding</a>
        </div>
<div class="main" id="middlefont">
        <nav>
            <ul> ZAKŁADKI:
                <li><a style="color: black;" href="/admin/guests"><b>GOŚCIE</b></a></li>
                <li><a style="color: black;" href="/admin/invitations"><b>ZAPROSZENIA</b></a></li>
                <li><a style="color: black;" href="/admin/presents"><b>PREZENTY</b></a></li>
                <li><a style="color: black;" href="/admin/list"><b>LISTA ZADAŃ</b></a></li>
            </ul>
        </nav>


    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


</div>
        <footer>2017 &hearts;MyWedding created by Ewas | <a style="color: darkgray;" href="/admin">Admin</a> </footer>
    </div>
    </body>
</html>
