<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}&hearts;MyWedding{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/jquery-latest.js') }}"></script>
    <script src="{{ asset('js/jquery.tablesorter.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Amatica SC' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>

<body>
<div class="full-width">

    <div class="navbar">
        <a href="/">Strona główna</a>
        <a href="/wedding">Uroczystość</a>
        <a href="/welovepresents">Pomysły na prezenty</a>
        <a href="/rsvp">RSVP</a>
        <a type="text" style="float: right">&hearts;MyWedding</a>
    </div>
    <div class="main">

        {% block body %}{% endblock %}

    </div>
    <footer>2017 &hearts;MyWedding created by Ewas | <a style="color: darkgray;" href="/admin">Admin</a></footer>
</div>
</body>
</html>
