{% extends "admin.html.twig" %}
{% block body %}
    <article>
        <h1 align="center">{{ wedding.brideName }} + {{ wedding.groomName }}</h1>
        <p align="center">Zostało {{ days }} dni do Waszego wesela!</p>
<br>
        <br><br><br>



    </article>

{% endblock %}