html, body {
    font-family: 'Amatica SC';
    /*height:100vh;*/
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.navbar input {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    position: absolute;

}

.main {

    padding: 16px;
    margin-top: 60px;
    min-height: 81vh;
    background-image: url("https://68.media.tumblr.com/510dc9b6feeb4af7a0610eeb5b0e4243/tumblr_n8dvsjRSr91qg49aro1_r1_500.png");
}

.full-width {
    width: 100%;
    /*margin-left: 200px;*/
    /*min-height:100%;*/
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #333;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 200px;

    margin: 0;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul a input {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    font-family: 'Amatica SC';
}

#wedding-title {
    position: relative;
    margin-top: 8%;
    text-align: center;
}

#bigfont {
    font-size: 120px;
}

#middlefont {
    font-size: 40px;
}

#foot {
    width: 100%;
}

.container {
    display: table;
    height: 100%;
    /*width: 100%;*/
}

#line {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}

.verticalLine {
    border-left: solid black;
}

#font {
    font-family: 'Amatica SC';
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

tr {
    background: white;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important;
}

.w3-round, .w3-round-medium {
    border-radius: 4px;
}

.blocktext {
    display: table;
    margin: 0 auto;
}

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#wrapper {
    display: block;
    width: 850px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}

input, p, option, select {
    font-family: 'Amatica SC';
}

.w3-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}

#sfont {
    font-size: 25px;
}

.middlefont, input {
    font-size: 30px;
}

/* Include the padding and border in an element's total width and height */
/** {*/
/*box-sizing: border-box;*/
/*}*/

/* Remove margins and padding from the list */
ul.todo {
    margin: 0;
    padding: 0;
    width: 600px;
    list-style-type: none;
}

/* Style the list items */
ul li.todo {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 30px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li.todo:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li.todo:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.todo.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.todo.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.close:hover:before {
    content: 'Usuń';
    position: absolute;
    color: white;
    font-size: 20px;
    top: 0;
    left: 13px;
}

.done {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    padding: 12px 16px 12px 16px;
    float: right;
}

.done:hover {
    background-color: green;
    color: white;
    content: 'Zrobione';
}

.done:hover:before {
    content: 'Zrobione';
    position: absolute;
    color: white;
    font-size: 20px;
    top: 0;
    left: 2px;
}


/* Style the header */
.header {
    padding: 0 10px;
    margin-top: 0;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input.todo {
    border: dotted;
    width: 25%;
    padding: 10px;
    float: left;
    font-size: 30px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}