html, body {
    font-family: 'Amatica SC';
    /*height:100vh;*/
    padding:0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.navbar input {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    position: absolute;

}

.main {

    padding: 16px;
    margin-top: 70px;
    min-height: 81vh;
    background-image: url("https://68.media.tumblr.com/510dc9b6feeb4af7a0610eeb5b0e4243/tumblr_n8dvsjRSr91qg49aro1_r1_500.png");
}

.full-width {
    width: 100%;
    /*margin-left: 200px;*/
    /*min-height:100%;*/
}


header, footer {
    padding: 1em;
    color: white;
    background-color: #333;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a input{
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    font-family: 'Amatica SC';
}

#wedding-title {
    position: relative;
    margin-top: 12%;
    text-align: center;
}

#bigfont {
    font-size: 100px;
}

#middlefont, input{
    font-size: 30px;
}

#foot {
    width: 100%;
}

.container {
    display: table;
    height: 100%;
    /*width: 100%;*/
}

#line {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}

.verticalLine {
    border-left: solid black;
}

#font {
    font-family: 'Amatica SC';
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

tr {
    background: white;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important;
}

.w3-round, .w3-round-medium {
    border-radius: 4px;
}

.blocktext {
    display: table;
    margin: 0 auto;
}

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#wrapper {
    display: block;
    width: 850px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

input, p, option, select {
    font-family: 'Amatica SC';
}

.w3-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}

#sfont {
    font-size: 25px;
}

.middlefont {
    font-size: 30px;
}